@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #121212;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.banner{
    display: flex;
    height: 100vh;
}
.banner-left{
    flex: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title{
    font-size: 60px;
    position: relative;
    white-space: nowrap;
    color: transparent;
}
.banner-title::before{
    content: 'Programming Hero';
    position: absolute;
    top: 0;
    left:0;
    color: #22bedd;
    animation: typing 3s linear infinite;
}
.banner-right img{
    border: 3px solid #09ccf3;
}

@keyframes typing {
    0% {
        content: 'P|';
    }
    4% {
        content: 'Pr|';
    }
    12% {
        content: 'Pro|';
    }
    16% {
        content: 'Prog|';
    }
    20% {
        content: 'Progr|';
    }
    24% {
        content: 'Progra|';
    }
    28% {
        content: 'Program|';
    }
    32% {
        content: 'Programm|';
    }
    36% {
        content: 'Programmi|';
    }
    40% {
        content: 'Programmin|';
    }
    44% {
        content: 'Programming|';
    }
    48% {
        content: 'Programming H|';
    }
    52% {
        content: 'Programming He|';
    }
    56% {
        content: 'Programming Her|';
    }
    60% {
        content: 'Programming Hero|';
    }
    64%,
    83%{
        content: 'Programming Hero|';
    }
    84%{
        content: 'Programming Her|';
    }
    85%{
        content: 'Programming He|';
    }
    86%{
        content: 'Programming H|';
    }
    87%{
        content: 'Programming |';
    }
    88%{
        content: 'Programming|';
    }
    89%{
        content: 'Programmin';
    }
    90%{
        content: 'Programmi|';
    }
    91%{
        content: 'Programm|';
    }
    92%{
        content: 'Program|';
    }
    93%{
        content: 'Progra|';
    }
    94%{
        content: 'Progr|';
    }
    95%{
        content: 'Prog|';
    }
    96%{
        content: 'Pro|';
    }
    97%{
        content: 'Pr|';
    }
    98%{
        content: 'P|';
    }
    99%{
        content: '|';
    }
    100%{
        content: '|';
    }
}
.banner-text{
    margin: 40px 0;
    line-height: 2;
}
.pbutton{
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #22bedd;
    color: #fff;
    cursor: pointer;
    border: 4px solid #09ccf3;
    transition: .5s linear;
}
.pbutton:hover{
    background-color: transparent;
    color: #09ccf3;
}

/* Gallery Area */
.section-title{
    text-align: center;
}
.section-title h1{
    color: #09ccf3;
    font-size: 35px;
    margin: 50px 0;
    border-left: 3px solid #09ccf3;
    border-right: 3px solid #09ccf3;
    display: inline-block;
    padding: 0 10px;
    line-height: .7;
}
.gallery{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.photo{
    width: 280px;
    height: 280px;
    position: relative;
    overflow: hidden;
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.border{
    background-color: #fff;
    position: absolute;
    transition: .7s ease-in-out;
}
.border.top , .border.bottom{
    width: 270px;
    height: 4px;
}
.border.left , .border.right{
    height: 270px;
    width: 4px;
}
.border.top{
    top: 5px;
    right: 100%;
}
.border.bottom{
    bottom: 5px;
    left: 100%;
}
.border.left{
    left: 5px;
    top: 100%;
}
.border.right{
    right: 5px;
    bottom: 100%;
}
.photo:hover .border.top{
    right: 6px;
}
.photo:hover .border.right{
    bottom: 6px;
}
.photo:hover .border.bottom{
    left: 6px;
}
.photo:hover .border.left{
    top: 6px;
}
.photo-content{
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 30px;
    width: 100%;
    height: 100%;
    color: #fff;
    transform: translateY(400px);
    transition: .4s ease-in-out;
}
.photo:hover .photo-content{
    transform: translateY(200px);
}
.photo::before{
    content: '';
    position: absolute;
    left:0%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    transition: .5s linear;
}
.photo:hover::before{
    opacity: 1;
}
/* Footer area  */
footer {
    text-align: center;
    background-color: rgb(22, 24, 19);
    color: #fff;
    padding: 20px 0;
    margin: 50px 0;
}